body{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.loginBox {
	border-radius: 20px;
	width: 100%;
	max-width: 480px;
	padding: 30px 40px !important;
}
.logoheader {
	text-align: center;
	margin: 0 0 1.5rem;
}
.loginBox h3 {
	font-size: 24px;
	font-weight: 600;
}
.themeBlue {
	color: #03416b;
	text-decoration: none;
}
.btn.btn-primary {
	background-color: #03416b;
	border-color: #03416b;
}
.btn.btn-primary:hover {
	background-color: #0f5280;
    border-color: #0f5280;
}
.bg-themebg{
    background: #003C60;
    background: linear-gradient(165deg, rgba(0, 60, 96, 1) 0%, rgba(4, 154, 169, 1) 50%);
}
.eyeComponent {
	position: relative;
	width: 100%;
	display: block;
}
.eyeicon {
	position: absolute;
	right: 10px;
	top: 7px;
}
.passwordValidation {
	position: absolute;
	background: #fff;
	width: 100%;
	border: 1px solid #ccc;
	padding: 0 15px;
}
.form-control:focus {
	box-shadow: none;
}
.eyeicon svg {
	font-size: 18px;
}