body{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.loginBox{
    max-width: 480px;
    border-radius: 20px;
    width: 100%;
}
.logoheader {
	text-align: center;
	margin: 0 0 1.5rem;
}
.loginBox h3 {
	font-size: 24px;
	font-weight: 600;
}
.themeBlue {
	color: #03416b;
	text-decoration: none;
}
.btn.btn-primary {
	background-color: #03416b;
	border-color: #03416b;
}
.btn.btn-primary:hover {
	background-color: #0f5280;
    border-color: #0f5280;
}
.bg-themebg{
    background: #003C60;
    background: linear-gradient(165deg, rgba(0, 60, 96, 1) 0%, rgba(4, 154, 169, 1) 50%);
}
