.btn.btn-primary {
	background-color: #4865FF;
	border-color: #4865FF;
}
.btn.btn-primary:hover {
	background-color: #3755eb;
	border-color: #3755eb;
}
.welcomeheading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.welcomeheading h1 {
	font-size: 24px;
}