.loader-component {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    z-index: 999999;
    background: #000000a3;
    backdrop-filter: blur(10px);
    left: 0;
    top: 0;
  }
  .loader-img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
.spinner-border {
	vertical-align: text-bottom;
	border: .25em solid;
	color: #029aa7;
	border-inline-end-color: #0000;
	border-radius: 50%;
	width: 140px;
	height: 140px;
	animation: .75s linear infinite spinner-border;
	display: inline-block;
	cursor: none !important;
}
  .loader-img img {
	position: absolute;
	width: 100px;
}
  @-webkit-keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }